
/* @font-face {
	font-family: 'Roboto'; 
	src: url(/fonts/Roboto/Roboto-Regular.ttf); 
}
@font-face {
	font-family: 'Roboto'; 
	src: url(/fonts/Roboto/Roboto-Medium.ttf); 
} */

@font-face {
	font-family: 'Roboto', sans-serif;
  src: url(/fonts/Roboto/Roboto-Bold.ttf); 
}
 

.cite {
  display: flex;
  background-image: url('./img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 15px);
  margin: 0 auto;
  font-weight: 500; 
}

.cite-item {
  min-height: 400px;
  /* height: calc(100vh - 15px); */
  /* max-width: 638px;
  width: 100%; */

}

.cite-item__photo {
  min-height: 400px;
  /* height: calc(100vh - 15px); */
}

.container {
  margin-left: 70px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.name {
  margin: 70px auto 20px auto;
  font-family: Roboto;
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
  font-style: normal;
}

.city {
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
}

.navigation__item {
  display: flex;
  gap: 30px;
  padding-left: 0px;
}

.skills__text {
  font-size: 32px;
  line-height: 38px;
}

.skills__technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.skills__technology {
  margin: 0;
  padding: 14px 55px;
  color: #FFFFFF;
  background-color: #414141;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  border-radius: 45px;
}

.skills__technology:hover {
  background-color: #121212;;
}

.about {
  margin-top: 64px;
  font-size: 32px;
  line-height: 38px;
}

.about_myself-2 {
  height: 92px;
  text-indent: 20px
} 

.form {
  display: flex;
  padding: 10px 152px 14px 0px;
  align-content: space-between;
  gap: 25px;
  font-weight: 400;
  font-size: 14px;
  color: black;
}

.form__input {
  padding: 14px 9px 14px 16px;
  border-radius: 11px;
  font-size: 32px;
  line-height: 38px;
  color: #121212;
}

.form__input::placeholder {
  color: #121212;
}

.button {
  display: block;
  padding: 14px 297px;
  background-color: #121212;
  border: none;
  border-radius: 11px;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 38px;
  margin-top: 25px;
}

.button:hover {
  background-color: #414141;
}


@media (max-width: 1000px) {

  .container {
    padding-right: 0;
    margin-left: 32px;
  }

  .cite-item__photo {
    max-height: 658px;
    height: 100%;
  }

  .name {
    margin: 0;
    font-size: 32px;
    line-height: 38px;
  }

  .city {
    font-size: 20px;
    line-height: 23px;
  }

  .skills__text {
    font-size: 24px;
    line-height: 28px;
  }

  .skills__item {
    flex-wrap: wrap;
    margin: 0 281px 0 0;
  }

  .skills__technologies {
    gap: 20px;
  }

  .skills__technology {
    font-size: 24px;
    line-height: 28px;
    padding: 10px 45px;
  }

  .about {
    margin-top: 26px;
  }

  .about_myself {
    margin: 10px 0 22px 0;
    font-size: 24px;
    line-height: 28px;
  }

  .about_myself-2 {
    margin-right: 255px;
    font-size: 20px;
    line-height: 23px;
    width: 530px;
    height: 65px;
  }

  .form {
    height: 48px;
    border-radius: 11px;
    gap: 20px;
    font-size: 24px;
    line-height: 28px;
    padding: 0px 152px 14px 0px;
  }

  .button {
    padding: 10px 78px;
  }

  .form__input {
    width: 177px;
    font-size: 18px;
  }
}

@media (max-width: 540px) {
  .cite {
    height: inherit;
    flex-direction: column;
    background-image: url('./img/fon.jpg');
  }

  .cite-item {
    margin: 0 auto;
    height: 689px;
  }

  .cite-item__photo {
    height: 689px;
  }

  .container {
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
  }

  .skills__item {
    margin: 0;
  }

  .skills__technologies {
    gap: 10px 20px;
  }

  .skills__technology {
    font-size: 16px;
    line-height: 19px;
    padding: 8px 35px;
  }

  .about_myself-2 {
    width: 100%;
    margin-top: 36px;
  }

  .button {
    padding: 8px 54px;
    margin-top: 6px;
    margin-bottom: 10px;
  }

  .form__input {
    width: 154px;
  }

}